body { padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.pagination a { border-radius: 5px; }

.pagination a.active { border-radius: 5px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.bg {
    background-image: url(Image/sea.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: auto;
    min-height: 40rem;
    padding-top: 1rem;
    position: relative;
    width: 100%;
}

.logo {
    max-height: 60px;
    max-width: 60px;
    padding: 10px;
}

.about-bg {
    background-image: url(Image/beach.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: auto;
    min-height: 40rem;
    padding-top: 1rem;
    position: relative;
    width: 100%;
}

.btn-square { border-radius: 0; }

.btn-vertical {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.grid-menu {
    border: 0;
    display: block;
    min-width: 100%;
}

.grid-menu-3col { box-sizing: border-box; }

.search-form {
    background-color: #d3f2ea;
    padding: 3em 0;
}

.button-custom-test {
    background: #F5F5F5;
    border-radius: 2px;
    box-shadow: 0px 2px #D3D3D3;
    color: #696969;
    display: inline-block;
    font-size: 15px;
    padding: 16px 26px;
}

a:link {
    outline: none;
    text-decoration: none;
}

.question { border-radius: 0; }

.headline-custom {
    color: #2f4f4f;
    font-size: 50px;
}

.form-control-custom {
    border-radius: 10rem;
    min-width: 100%;
    padding: 1.5rem 1rem;
}

.form-register { box-sizing: border-box; }

.form-register-btn {
    border-radius: 10rem;
    min-width: 100%;
    padding: .75rem 1rem;
}

.text-gray { color: #3a3b45; }


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer-custom { color: #2f4f4f; }